<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User</title>
    <%- include('./partials/_head') %>
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"
    ></script>
    <script type="text/javascript" src="scripts/inbox_scripts.js"></script>
  </head>

  <body>
    <%- include('./partials/_navbar') %>
    <main>
      <div class="main_body">
        <img class="image_container" src="<%=data[4]%>" alt="" />

        <div class="data_container">
          <p id="user_id">User ID: <%- data[0]%></p>
          <p>Name: <%- data[1]%></p>
          <p>Email: <%- data[2]%></p>
          <p>Phone Number: <%- data[3]%></p>
        </div>

        <div class="item_display"></div>

        <div id="message_list" class="message_list"></div>

        <div class="message_box">
          <div id="message_display" class="message_display">
            Click on a Message to View!
          </div>
          <div class="input_form">
            <form id="reply" class="form_column">
              <textarea
                placeholder="Reply here!"
                class="input_text"
                required
              ></textarea>
              <button type="submit" class="submit_button">Reply!</button>
            </form>
          </div>
        </div>
        <div id="submitted" class="submitted">submitted!</div>
      </div>
    </main>
    <%- include('./partials/_modal') %> <%- include('./partials/_footer') %>
  </body>
</html>
