<!DOCTYPE html>
<html lang="en">

<head>
  <title>User</title>
  <%- include('./partials/_head') %>
  <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script type="text/javascript" src="scripts/inbox_scripts.js"></script>
</head>

<body>

  <%- include('./partials/_navbar') %>
  <main class="d-flex container-items">
    <div class = 'container w-48'>

      <div class="d-flex container-items">

        <div class='container w-48'>
          <img class='img-fluid img-thumbnail' src="<%=data[4]%>" alt='' >
        </div>

        <div class="container border">
          <p id='user_id'>User ID: <%- data[0]%> </p>
          <p>User Name: <%- data[1]%> </p>
          <p>User Email: <%- data[2]%> </p>
          <p>User Phone Number: <%- data[3]%> </p>
        </div>
      </div>
      <div id='message_list' class="container pre-scrollable border"></div>
      <div id='message_outbox' class="container pre-scrollable border"></div>
    </div>
    <div class='container'>
      <div id='message_display' class='container row p-3 w-48'>
        Click on a Message to View!
      </div>
      <div class='container row'>
        <form id="reply">
          <textarea placeholder="Reply here!" required></textarea>
          <button type='submit' class='btn btn-light '> Reply! </button>
        </form>
      </div>
      <div id='submitted' class="container row"> submitted!</div>
    </div>


  </main>
  <%- include('./partials/_modal') %>
  <%- include('./partials/_footer') %>
</body>
</html>
